.content{
	width: 700px;
}
.results-ads {	/*	trenutno tega ne rabm	*/
		position: absolute;
		background-color: gray;
		top: 100px;
		left: 50%;
		height: 100px;
		width: 400px;
		margin-left: -200px; /* width of ads / 2 */
}
.townName {
		margin:30 auto;
		margin-bottom: 20px;
		z-index:1;
		background-color: #1e1e1e;
		float:left;
		left:40%;
		top: -20px;
		color: #FFCC33;
		text-align: center;
		display: inline-block;
		font-size: 40px;
		padding-left: 6px;
		padding-right: 6px;
		position:absolute; 
}
#resultsContents {
		position: relative;
		margin-top: 30px;
}
.driver {				/*dont add padding-left */
		cursor: pointer;
		width: 100%;
		padding: 15px;
		background-color: #111111;
		color: #C0C0C0;
		font-size: 1.2em;
		border: 1px solid #323232;
		margin-bottom: 10px;
		height: 60px;
}
.companyName {
		color: rgb(233, 124, 52); /* main color hue */
		font-size: 1.3em;
		font-weight: bold;
}
.driverName {
		display: inline-block;
		padding-right: 10px;
}
.phoneNumber {
		position: relative;
		top: -43px;
		width: inherit;
		text-align: right;
		font-size: 30px;
		color: #3581e1;
		font-weight: 100;
		font-family:Georgia, serif;
}
.rating {
		display: none;
		position: relative;
		top: -50px;
		left: 100%;
		margin-left: -80px; /* if there is 5 stars */
}
.companyDetails {
		display: none;
		padding-left: 15px;
		font-size: 0.9em;
		margin-top: -45px;
}
