/* this is layout for registration form */
#content {
	width: 480px;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 0;
	text-align: left;
	overflow: hidden;
}
#navigation{
	position:relative;
	display:block;
}
.usedButton {
	color: orange;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image:url("../img/slidesButton.png");
	background-position:0px 13px;
}
.unusedButton {
	color: white;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image:url("../img/slidesButton.png");
	background-position:0px 0px;
}
h1 {
	text-align: center;
	color: #E0E0E0;
	padding-bottom: 4px;
	margin-bottom: 0px;
}
a {
	color: #E0E0E0;
	font-size: 1.2em;
}
/* first slide(obvezni podatki) */
	td.name {
		padding-right: 60px;
		text-align: left;
	}
	td#lastName {
		text-align: left;
	}
	td#pass {
		padding-right: 60px;
	}
	td {
		color: #E0E0E0;
		font-size: 1.2em;
	}
/* second slide */
	.inputDescription {
		position: relative;
		left: 50%;
	}
/* ------------------- */
#content_5 {
	color: #E0E0E0;
	font-size: 1.2em;
}